nav {
  background-color: rgb(134, 8, 124);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: white;
  gap: 2px;
  font-size: 13px;

  & > a {
    padding: 5px;
    border-radius: 5px;
  }

  a:hover {
    background-color: hsla(0, 0%, 100%, 0.25);
  }
}
