.infinite-queries {
  button:disabled {
    opacity: 0.5;
  }

  button {
    position: fixed;
    bottom: 5px;
    left: 5px;
  }

  ul {
    margin-bottom: 250px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  li {
    background-color: rgba(255, 255, 255, 0.1);
    width: 250px;
  }
}
